*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  background-image: url("./images/bgimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: grayscale(1) blur(2px);
  font-family: sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 370px;
  height: 530px;
  padding: 6rem 2rem 4rem;
  border-radius: 8px;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 50px 100px rgb(0 0 0 / 14%);
  /* background-image: url("./svg/background.svg"); */
  background-image: linear-gradient(
    to right top,
    #7678fc,
    #7a73fa,
    #7f6df8,
    #8367f5,
    #8861f2,
    #8b5cf1,
    #8f57ef,
    #9252ed,
    #954dec,
    #9948eb,
    #9c43e9,
    #a03de8
  );
  color: whitesmoke;
}

.login h1 {
  font-size: 2rem;
  margin-top: -4rem;
}

.login > img {
  margin: 0 auto;
  margin-top: -3rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 16px;
  background-color: whitesmoke;
}

ion-icon {
  color: whitesmoke;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  padding: 0 2rem;
}

.password input,
.username input {
  position: relative;
  padding: 6px;
  bottom: 4px;
  outline: none;
  padding-left: 30px;
  color: whitesmoke;
}
.password input::placeholder,
.username input::placeholder {
  color: whitesmoke;
}

.password ion-icon,
.username ion-icon {
  position: absolute;
}

.login-form input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid whitesmoke;
}

.checkbox {
  display: flex;
  align-self: flex-start;
}

.checkbox input {
  width: auto;
  cursor: pointer;
}

.checkbox label {
  align-self: center;
  margin-left: 0.8rem;
  font-size: 1.1rem;
}

.login-form button {
  background-color: white;
  color: #8f44fd;
  border: none;
  border-radius: 50px;
  width: 28%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}

.forgot {
  color: whitesmoke;
  font-size: 1rem;
  text-decoration: none;
}
